@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2")
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2")
}

html {
  background-color: #F2F2F2;
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  position: relative;
  width: 1060px;
  min-height: 64px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
}

.logo {
  width: 140px;
  height: 70px;
  margin-bottom: -6px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 450px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: 28px;
}

.navigation-user-item{
  height: 64px;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: inherit;
  display: flex;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: #7561574D;
}

.navigation-link-current {
  text-decoration: underline solid #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 23px;
}

.navigation-user {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: auto;
  max-width: 110px;
}

.navigation-user-link {
  margin: 0;
  text-decoration: none;
  padding: 22px 12px;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 22px 12px;
  display: inline-block;
  background: center url("../images/svg/search.svg") no-repeat;
}

.favorites-icon {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 22px 12px;
  margin-right: 20px;
  display: inline-block;
  background: center url("../images/svg/heart.svg") no-repeat;
  position: relative;
}

.favorites-icon::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  background: 10px 10px url("../images/svg/number.svg") no-repeat;
}

.button-header {
  margin: 0;
  padding: 0;
  width: 160px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button-header:hover {
  background-color: #615048;
}

.button-header:focus {
  background-color: #615048;
  outline: none;

}

.button-header:active {
  background-color: #756157;
}

.hero {
  width: 100%;
  min-height: 485px;
  background-image: url("../images/svg/divider.svg"), url("../images/background-index.jpg");
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 69px;
}

.hero-img {
  display: block;
  margin: auto;
  padding: 51px 0 82px 0;
}

.presentation-description-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  display: block;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.presentation-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  display: block;
  margin-bottom: 90px;
}

.presentation-list {
  padding: 0;
  width: 100%;
  height: auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.presentation-wrapper {
  margin: auto;
  width: 230px;
  align-items: center;
}

.presentation-list-item {
  box-sizing: border-box;
  min-height: 384px;
  min-width: 400px;
  color: #333333;
  padding: 102px 85px;
  max-width: 400px;
}

.presentation-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 16px;
  margin-left: -3px;

}

.presentation-item-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 30px;
  margin-bottom: 30px;
}

.color-grey::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  margin-bottom: 30px;
}

.presentation-item-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.presentation-item:nth-child(1) {
  width: 1200px;
  min-height: 385px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #FFFFFF;
  background: #82B3D3;
}

.presentation-item:nth-child(2) {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: row;
  background: #83B3D31F;
}

.presentation-item:nth-child(3) {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: row;
  background: #83B3D333;
}

.presentation-item:nth-child(4) {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: row;
  background: #83B3D31F;
}

.presentation-item:nth-child(5) {
  display: flex;
  width: 1200px;
  min-height: 385px;
  flex-direction: row;
  justify-content: center;
  color: #FFFFFF;
  background: #82B3D3;
}

.advantages-description-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin-bottom: 64px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 96px;
}

.advantages-item {
  text-align: center;
  width: 400px;
  min-height: 385px;
  display: flex;
}

.housing {
  margin: auto;
  width: 230px;
  min-height: 223px;
  background-image: url("../images/svg/home.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
}

.food {
  margin: auto;
  width: 230px;
  min-height: 223px;
  background-image: url("../images/svg/food.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
}

.souvenirs {
  margin: auto;
  width: 230px;
  min-height: 223px;
  background-image: url("../images/svg/souvenir.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
}

.advantages-item-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;

}

.advantages-item-description {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.advantages-item:nth-child(1) {
  background: #83B3D31F;
  width: 400px;
  min-height: 385px;
}

.advantages-item:nth-child(3) {
  background: #83B3D31F;
  width: 400px;
  min-height: 385px;
}

.search {
  text-align: center;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 52px;
}

.search-link {
  font-family: inherit;
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  min-width: 270;
  min-height: 36px;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 50px 8px 50px;
  margin-bottom: 96px;
  gap: 10px;
}

.search-link:hover {
  background-color: #615048;
}

.search-link:focus {
  background-color: #615048;
  outline: none;
}

.search-link:active {
  background-color: #756157;
}

.subscription {
  background-image: url("../images/background-Subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 415px;
  background-color: #82B3D3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscription-title {
  margin-top: -7px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  height: 52px;
  max-width: 684px;
}


.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 232px;
}

.field {
  width: 452px;
  padding: 14px 21px;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.field::placeholder {
  font-size: 18px;
  font-family: "PT Sans", sans-serif
}

.newsletter-button {
  width: 232px;
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
}

.newsletter-button:hover,
.newsletter-button:focus {
  background-color: #68A2CA;
  outline: none;
}

.newsletter-button:active {
  background-color: #68A2CA;
  opacity: 30%;
}

.background-filters {
  background-image: url("../images/background-filters.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  background-color: #82B3D3;
  padding: 35px 70px 58px 70px;
  margin-bottom: 50px;
}

.inner-header {
  width: 1060px;
  margin-bottom: 40px;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  width: auto;
  min-height: 21px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs-link-home {
  width: 13px;
  height: 15px;
  display: block;
  background-image: url("../images/svg/frame.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

.breadcrumbs-link-home:hover {
  opacity: 0.6;
}

.breadcrumbs-link-home:focus {
  opacity: 1;
  outline: none;
}

.breadcrumbs-link-home:active {
  opacity: 0.3;
}

.breadcrumbs-link-home::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../images/svg/breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  width: 7px;
  height: 10px;
  margin-top: 3px;
  margin-left: 24px;
}

.breadcrumbs-link-hotels {
  display: block;
  margin-left: 28px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs-link-hotels:hover {
  opacity: 0.6;
}

.breadcrumbs-link-hotels:focus {
  opacity: 1;
  outline: none;
}

.breadcrumbs-link-hotels:active {
  opacity: 0.3;
}

.catalog-filter {
  width: 1060px;
  display: flex;
}

.catalog-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
  margin-top: 56px;
  margin-left: 72px;
}

.catalog-filter-group {
  border: 0;
  margin: 0;
  padding: 0;
}

.infrastructure {
  width: 150px;
  padding-right: 70px;
}

.type {
  width: 150px;
  padding-right: 140px;
}

.price {
  width: 288px;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.control-lable {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
}

.control {
  display: inline-flex;
  align-items: center;
  margin-bottom: 16px;
}

.control > span {
  display: flex;
  align-items: center;
}

.control-checkbox > input,
.control-radio > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0;
}

.control-checkbox > span::before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 4px;
  margin-right: 16px;
  box-sizing: border-box;
}

.control-radio > span::before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  margin-right: 16px;
  box-sizing: border-box;
}

.control-checkbox > input:focus + span::before,
.control-radio > input:focus + span::before {
  border: 3px solid #83B3D3;
}

.control-checkbox > input:checked + span::before {
  background-color: #ffffff;
  background-image: url("../images/svg/control-checkbox.svg");
}

.control-radio > input:checked + span::before {
  background-color: #ffffff;
  background-image: url("../images/svg/control-radio.svg");
}

.control-checkbox > input + span:hover::before,
.control-radio > input + span:hover::before {
  opacity: 0.6;
}

.control-checkbox > span:hover,
.control-radio > span:hover {
  opacity: 0.6;
}

.control-checkbox > input + span:active::before,
.control-radio > input + span:active::before {
  opacity: 0.3;
}

.control-checkbox > span:active,
.control-radio > span:active {
  opacity: 0.3;
}

.price-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 2px;
  margin-bottom: 44px;
}

.catalog-filter-from {
  width: 143px;
  padding: 12px 21px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
}

.catalog-filter-from::-webkit-outer-spin-button,
.catalog-filter-from::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.from {
  position: relative;
}

.text-from {
  position: absolute;
  display: inline-block;
  color: #000000;
  opacity: 30%;
  left: 106px;
  top: 12px;
}

.to {
  position: relative;
}

.text-to {
  position: absolute;
  display: inline-block;
  color: #000000;
  opacity: 30%;
  left: 106px;
  top: 12px;
}

.catalog-filter-to {
  width: 143px;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  border-radius: 0 4px 4px 0;
  box-sizing: border-box;
  appearance: none;
}

.catalog-filter-to::-webkit-outer-spin-button,
.catalog-filter-to::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range-scale {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #969696;
}

.range-layer {
  position: absolute;
  width: 215px;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  left: 207px;
}

.range-toggle:focus {
  border: 3px solid #83B3D3;
  outline: none;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  outline: none;
}

.apply {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: #82b3d3;
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
  margin-bottom: 32px;
}

.apply:hover {
  background-color: #68A2CA;
}

.apply:focus {
  background-color: #68A2CA;
  outline: none;
}

.apply:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.apply:disabled {
  background-color: #E5E5E5;
}

.reset {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: none;
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
}

.reset:hover {
  opacity: 0.6;
  color: rgba(255, 255, 255, 1);
}

.reset:focus {
  color: rgba(255, 255, 255, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
}

.reset:active {
  color: rgba(255, 255, 255, 0.3)
}

.reset:disabled {
  color: rgba(255, 255, 255, 1);
}

.catalog {
  margin-bottom: 60px;
}

.sorting {
  width: 1060px;
  height: 49px;
  margin: 0 70px 38px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.sorting-search-result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin-right: 130px;
}

.sorting-select-controls {
  font-family: "PT Sans", sans-serif;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  min-width: 292px;
  padding: 12px 100px 12px 20px;
  font-style: inherit;
  appearance: none;
  background: right 13px center url("../images/svg/arrow.svg") no-repeat;
}

select:hover {
  border: 2px solid #68A2CA;
}

select:focus {
  outline: none;
  border: 2px solid #68A2CA;
}

.sorting-text {
  color: #333333;
  text-align: left;
}

.button-cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;
  max-width: 160px;
}

.button-cards-list {
  width: 48px;
  height: 48px;
}

.button-small-cards {
  width: 48px;
  height: 48px;
  background-image: url("../images/svg/variant-tile.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 2px solid #000000;
  display: inline-block;
  margin-right: 8px;
  box-sizing: border-box;
}

.button-small-cards:hover {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-small-cards:focus {
  outline: none;
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.button-small-cards:active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-big-cards {
  width: 48px;
  height: 48px;
  background-image: url("../images/svg/variant-slideshow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  display: inline-block;
  margin-right: 8px;
  box-sizing: border-box;
}

.button-big-cards:hover {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-big-cards:focus {
  outline: none;
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.button-big-cards:active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-list {
  width: 48px;
  height: 48px;
  display: inline-block;
  background-image: url("../images/svg/variant-list.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
}

.button-list:hover {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-list:focus {
  outline: none;
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.button-list:active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.catalog-card {
  width: 1060px;
  display: flex;
  margin: auto;
  padding: 0;
  flex-wrap: wrap;
  gap: 20px;
}

.catalog-card::after {
  content: "";
  display: block;
  width: 1060px;
  height: 1px;
  background-color: #E6E6E6;
  margin-top: 16px;
  margin-bottom: 40px;
}

.catalog-card-item {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px 28px 21px 36px 37px;
  row-gap: 16px;
  column-gap: 20px;
  width: 340px;
  min-height: 438px;
  justify-content: center;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
}

.catalog-card-image {
  margin: 0;
  grid-column: span 2;
}

.catalog-card-title {
  margin: 0;
  width: 300px;
  height: 28px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #000000;
  grid-column: span 2;
  align-items: center;
}

.catalog-card-type {
  text-align: left;
  color: #333333;
}

.catalog-card-price {
  text-align: right;
  color: #333333;
}

.button-details {
  padding: 8px 26px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
}

.button-details:hover {
  background-color: #615048;
}

.button-details:focus {
  background-color: #615048;
  outline: none;
}

.button-details:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-favorites {
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
}

.button-favorites:hover {
  background-color: #68A2CA;
}

.button-favorites:focus {
  background-color: #68A2CA;
  outline: none;
}

.button-favorites:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-favorites-active {
  padding: 8px 18px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-decoration: none;
  border-radius: 4px;
}

.button-favorites-active:hover {
  background-color: #6C9E42;
}

.button-favorites-active:focus {
  background-color: #6C9E42;
  outline: none;
}

.button-favorites-active:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.stars {
  width: 140px;
  height: 37px;
  background-repeat: no-repeat;
}

.stars-4 {
  display: block;
  background-image: url("../images/svg/star.svg");
  background-repeat: repeat;
  align-self: center;
  width: 90px;
  height: 17px;
}

.stars-3 {
  background-image: url("../images/svg/star.svg");
  background-repeat: repeat;
  align-self: center;
  width: 70px;
  height: 17px;
}

.stars-2 {
  background-image: url("../images/svg/star.svg");
  background-repeat: repeat;
  align-self: center;
  width: 45px;
  height: 17px;
}

.catalog-card-rating {
  margin: 0;
  padding: 9px 22px 8px 23px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination {
  width: 1060px;
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  padding: 4px;
  background-color: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
  box-sizing: border-box;
}

.pagination-link:not(.pagination-current):hover {
  background-color: #68A2CA;
}

.pagination-link:not(.pagination-current):focus {
  background-color: #68A2CA;
  outline: none;
}

.pagination-link:not(.pagination-current):active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  padding: 4px;
  background-color: #F2F2F2;
  border-radius: 4px;
  text-decoration: none;
  outline: none;
}

.pagination-item p {
  margin: 0;
  display: inline-block;
  width: 17px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  padding: 16.36px 21.45px 17.64px 21.45px;
}

.subscription-catalog {
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.subscription-catalog-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subscription-catalog-text {
  margin: 0;
  margin-bottom: 55px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.page-footer {
  margin: auto;
  padding-top: 5px;
  width: 1060px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social-list {
  margin: 0;
  max-width: 145px;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
  vertical-align: middle;
}

.vk {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 14px;

}

.telegram {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 16px;

}

.youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 17px;

}

.button-social {
  width: 47px;
  height: 40px;
  fill: #83B3D3;
}

.button-social:hover svg {
  fill: #68A2CA;
}

.button-social:focus svg {
  fill: #68A2CA;
}

.button-social:active svg {
  fill: #68A2CA4D;
}

.footer-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus {
  outline: none;
  color: #756157;
}

.footer-phone:active {
  color: #7561574D;
}

.footer-logo svg:hover {
  fill: #756157;
}

.footer-logo svg:focus {
  outline: none;
  fill: #756157;
}

.footer-logo svg:active {
  fill: #7561574D;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  width: 577px;
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 #00000026;
}

.modal-close-button {
  font-family: inherit;
  position: absolute;
  left: 85%;
  padding: 0;
  margin: 0;
  width: 53px;
  height: 53px;
  border: none;
  border-radius: 50%;
  background-image: url("../images/svg/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.modal-close-button:hover {
  background-image: url("../images/svg/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-image: url("../images/svg/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
}

.modal-close-button:active {
  background-image: url("../images/svg/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #E6E6E6;
  opacity: 0.3;
  outline: none;
}

.modal-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 64px;
}

.modal-form {
  border: none;
  margin: 0;
  padding: 0;
}

.date-wrapper {
  margin-bottom: 20px;
}

.children-tooltip {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tooltip {
  position: relative;
  margin-left: 10px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  display: inline-block;
  background-image: url("../images/svg/tooltip-icon.svg");
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  margin: 0;
  width: 26px;
  height: 26px;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.tooltip-toggle-text {
  width: 2px;
  height: 12px;
  color: #FFFFFF;

  font-weight: 700;
}

.tooltip-text {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  min-width: 216px;
  padding: 19px 18px 23px 22px;
  position: absolute;
  background-color: #333333;
  box-shadow: 0 15px 30px 0 #0000004D;
  color: #FFFFFF;
  border-radius: 10px;
  top: 40px;
  right: -112px;
  display: none;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 19px;
  height: 9px;
  background-image: url("../images/svg/tooltip-text.svg");
  background-repeat: no-repeat;
  top: -9px;
  left: 122px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.button-wrapper {
  position: relative;
}

.minus {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/svg/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 14px;
  left: 10px;
  border: none;
  opacity: 0.5;
}

.minus:hover {
  opacity: 1;
}

.minus:focus {
  outline: 3px solid #82b3d3;
  border-radius: 4px;
  opacity: 1;
}

.minus:active {
  opacity: 0.5;
  outline: none;
}

.plus {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/svg/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 14px;
  left: 82px;
  border: none;
  opacity: 0.5;
}

.plus:hover {
  opacity: 1;
}

.plus:focus {
  outline: 3px solid #82b3d3;
  border-radius: 4px;
  opacity: 1;
}

.plus:active {
  opacity: 0.5;
  outline: none;
}

.date-form {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: baseline;
  margin-bottom: 5px;
}

.arrival-remark {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-left: 157px;
  margin-bottom: 23px;
  color: #FF5757;
}

.departure-remark {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-left: 157px;
  margin-bottom: 23px;
  color: #333333;
}

.form-typefield {
  font-family: inherit;
  min-width: 400px;
  padding: 14px 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
  outline: none;
  background-image: url("../images/svg/icon-date.svg");
  background-repeat: no-repeat;
  background-position: 402px 14px;
}

.form-typefield:hover {
  background: #e6e6e6;
  outline: 2px solid #000000;
  opacity: 1;
  background-image: url("../images/svg/icon-date.svg");
  background-repeat: no-repeat;
  background-position: 402px 14px;
}

.form-typefield:focus {
  outline: 3px solid #82b3d3;
  background-image: url("../images/svg/icon-date.svg");
  background-repeat: no-repeat;
  background-position: 402px 14px;
}

.form-typefield:active {
  outline: 2px solid #000000;
  opacity: 1;
  background-image: url("../images/svg/icon-date.svg");
  background-repeat: no-repeat;
  background-position: 402px 14px;
}

.form-typefield::placeholder {
  opacity: 0.6;
}

.age-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.adults-wrapper {
  display: flex;
  align-items: center;
  gap: 46px;
}

.children-wrapper {
  display: flex;
  align-items: center;
  gap: 46px;
}

.age-form {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  flex: wrap;
  align-items: center;
  position: relative;
}

.form-number::-webkit-outer-spin-button,
.form-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.form-number {
  border: none;
  outline: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  width: 110px;
  height: 48px;
  background-color: #F2F2F2;
  padding: 0;
}

.form-button {
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #83B3D3;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form-button:hover,
.form-button:focus {
  background-color: #68A2CA;
}

.form-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}
