@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2")
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2")
}

html {
  background-color:#F2F2F2;
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color:#000000;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation{
  width: 1060px;
  display: flex;
  margin: auto;
  align-items: center;
}

.logo {
  width: 140px;
  height: 70px;
  margin-bottom: -5px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 400px;
  list-style: none;
  display: flex;
  margin-right: auto;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.navigation-user {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  margin-right: 14px;
}

.navigation-user-link {
  margin: 0;
  text-decoration: none;
  padding: 22px 12px;
}

.search-icon {
  width: 20px;
  height: 20px;
  display: block;
  background-image: url("../images/svg/search.svg");
  background-position: center;
  background-repeat: no-repeat;
}



.favorites-icon {
  width: 18px;
  height: 17px;
  display: block;
  background-image: url("../images/svg/heart.svg");
  background-position: center;
  background-repeat: no-repeat;

}

.notification-page {
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;

}


.button-header {
  margin: 0;
  padding: 0;
  width: 160px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.hero {
  width: 100%;
  min-height: 485px;
  background-image: url("../images/svg/divider.svg"), url("../images/background-index.jpg");
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  background-repeat: no-repeat;
  background-color: #82B3D3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 69px;
}


.hero-img{
  width: 458px;
  height: 352px;
}

.presentation-description-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  display: block;
  margin-bottom: 25px;

}

.presentation-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  display: block;
  margin-bottom: 69px;
}

.presentation-list{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 64px;

}

.presentation-wrapper {
  margin: auto;
  width: 230px;
  height: auto;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.presentation-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}

.presentation-line-one {
  display: block;
  border: 2px solid rgba(255, 255, 255, 0.3);
  width: 60px;
}

.presentation-line-two {
  display: block;
  border: 2px solid rgba(0, 0, 0, 0.3);
  width: 60px;
}

.presentation-item-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.presentation-item:nth-child(1) {
  width: 1200px;
  height: 385px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #FFFFFF;
  background: #82B3D3;
}

.presentation-item:nth-child(2) {
  width: 400px;
  height: 385px;
  display: flex;
  flex-direction: row;
  background: #83B3D31F;

}

.presentation-item:nth-child(3) {
  width: 400px;
  height: 385px;
  display: flex;
  flex-direction: row;
  background: #83B3D333;
}

.presentation-item:nth-child(4) {
  width: 400px;
  height: 385px;
  display: flex;
  flex-direction: row;
  background: #83B3D31F;
}

.presentation-item:nth-child(5) {
  display: flex;
   width: 1200px;
   height: 385px;
   flex-direction: row;
   justify-content: center;
   color: #FFFFFF;
   background: #82B3D3;
}

.advantages-description-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin-bottom: 64px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 96px;
}

.advantages-item {
  text-align: center;
  width: 400px;
  height: 385px;
  display: flex;

}

.housing  {
  margin: auto;
  width: 230px;
  height: 223px;
  background-image: url("../images/svg/home.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
}

.food {
  margin: auto;
  width: 230px;
  height: 223px;
  background-image: url("../images/svg/food.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
}

.souvenirs{
  margin: auto;
  width: 230px;
  height: 223px;
  background-image: url("../images/svg/souvenir.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
}

.advantages-item-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;

}

.advantages-item-description {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.advantages-item:nth-child(1) {
  background: #83B3D31F;
  width: 400px;
  height: 385px;
}

.advantages-item:nth-child(3) {
  background: #83B3D31F;
  width: 400px;
  height: 385px;
}

.search {
  text-align: center;
}

.searh-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 54px;
}

.search-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 50px;
  margin-bottom: 96px;
  gap: 10px;
}

.subscription {
  background-image: url("../images/background-Subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 414px;
  background-color: #82B3D3;
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscription-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
}



.backgroung-filters {
  background-image: url("../images/background-filters.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  background-color: #82B3D3;
  padding: 35px 70px 40px 70px;
  margin-bottom: 50px;

}

.inner-header {
  width: 1060px;
  margin-bottom: 40px;

}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumbs-link-home {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-image: url("../images/svg/frame.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link-home::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-image: url("../images/svg/breadcrumbs.svg");
  background-repeat: no-repeat;
  color: #FFFFFF;
  width: 7px;
  height: 10px;
  margin-left: 24px;
}

.breadcrumbs-link-hotels {
  margin-left: 30px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.catalog-filter {
  width: 1060px;
  display: flex;
}

.catalog-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
  margin-left: 70px;
}


.catalog-filter-group {
  border: 0;
  margin: 0;
  padding: 0;
}

.infrastructure{
  width: 150px;
  padding-right: 70px;
}

.type{
  width: 150px;
  padding-right: 140px;
}



.catalog-filter-list{
  list-style: none;
  margin: 0;
  padding: 0;
}


.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.control-lable {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: left;
  color: #FFFFFF;
}

.control {
  display: block;
  margin-bottom: 16px;
}

.catalog-filter-from {
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;

}

.catalog-filter-to{
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 0 4px 4px 0;

}

.apply {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 50px;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  margin-bottom: 32px;
}

.reset {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 50px;
  text-align: center;
  color: #FFFFFF;
  background-color: #11ffee00;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.catalog {
margin-bottom: 60px;
}

.sorting {
  width: 1060px;
  height: 49px;
  margin: 0 70px 40px 70px;
  display: flex;
  justify-content: space-between;
  align-items:center;

}

.sorting-search-result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin-right: 200px;
}

select {
  width: 292px;
  height: 49px;
}

.sorting-text {
  color: #333333;
  text-align: left;
}

.button-cards {
  list-style: none;
  display: flex;
}

.button-small-cards{
  width: 16px;
  height: 14px;
  display: flex;
  background-image: url("../images/svg/variant-list.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 2px solid #000000;
  padding: 14px 12px 14px 12px;
  gap: 10px;
  margin-right: 8px;
}

.button-big-cards {
  width: 16px;
  height: 14px;
  display: flex;
  background-image: url("../images/svg/variant-slideshow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 2px solid #000000;
  padding: 14px 12px 14px 12px;
  gap: 10px;
  margin-right: 8px;
}

.button-list {
  width: 16px;
  height: 14px;
  display: flex;
  background-image: url("../images/svg/variant-tile.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 2px solid #000000;
  padding: 14px 12px 14px 12px;
  gap: 10px;
}


.catalog-card {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: 438px;
  gap: 20px;
  margin: 0 70px 40px 70px;
}

.catalog-card-item {
  margin: 0;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding-bottom: 20px;
}

.catalog-card-image {
  width: 300px;
  height: 212px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 16px;

}

.catalog-card-title{
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-bottom: 16px;
}

.catalog-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.card-price {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 16px;
}

.catalog-card-type {
  color: #333333;
}

.catalog-card-price {
  color: #333333;
}

.button-details {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  padding: 8px 26px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
}

.button-favorites {
  display: inline-block;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
}

.button-favorites-active{
  display: inline-block;
  padding: 8px 18px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #7DB54F;
  text-decoration: none;
  border-radius: 4px;
}

.stars{
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  width: 140px;
  height: 18px;
  display: inline-block;
  background-image: url("../images/svg/star.svg");
  background-repeat: no-repeat;
}

.catalog-card-rating {
  display: inline-block;
  margin: 0;
  margin-top: 16px;
  text-align: center;
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.line {
  border: 1px solid #E6E6E6;
  width: 1060px;
  margin: auto;
  margin-bottom: 40px;
}

.pagination {
  width: 1060px;
  height: 60px;
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;

}


.pagination-link {
  display: inline-block;
  width: 12px;
  height: 36px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  padding: 11.36px 24.55px 12.64px 23.45px ;
  margin-right: 8px;
  background-color: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
}

.ten {
  margin: 0;
  width: 23px;
  height: 36px;
  padding: 11.36px 18.55px 12.64px 18.45px ;
}

.pagination-current {
  display: inline-block;
  width: 12px;
  height: 36px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  padding: 11.36px 24.55px 12.64px 23.45px ;
  margin-right: 8px;
  background-color: #F2F2F2;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-item p{
  margin: 0;
  display: inline-block;
  width: 17px;
  height: 26px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  padding: 16.36px 21.45px 17.64px 21.45px ;
  margin-right: 8px;
}


.subscription-catalog {
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.subscription-catalog-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
}

.subscription-catalog-text {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.newsletter-form{
  display: flex;
  justify-content: center;
}

.field{
  width: 452px;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.newsletter-button{
  width: 232px;
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
}

.page-footer{
  margin: auto;
  width: 1060px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;

}

.vk {
  width: 24px;
  height: 14px;
  padding: 13px 11.67px;
  display: inline-block;
  background-image: url("../images/svg/vk.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.telegram {
  width: 18px;
  height: 16px;
  padding: 12px 14.67px;
  display: inline-block;
  background-image: url("../images/svg/telegram.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.youtube {
  width: 22px;
  height: 17px;
  padding: 11.5px 12.67px;
  display: inline-block;
  background-image: url("../images/svg/youtube.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.footer-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
